# Project One

Team Members:

Project Description

# Initial Code

## Libraries

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import requests

## Get data

In [76]:
climate_df = pd.read_csv("climate_data.csv")
energy_df = pd.read_csv("energy_data.csv")
energy_cost_df = pd.read_csv("Tariffs_n_dates.csv")
production_df = pd.read_csv("production_data.csv")

# Unpivot raw energy data.
energy_df = energy_df.melt(id_vars=['Time stamp'],
                     var_name='device',
                     value_name='energy')
energy_df = energy_df.sort_values("Time stamp")

## Merge hourly data

In [77]:
# Energy and Cost data
hourly_data = pd.merge(energy_df, energy_cost_df, how='left',
                      on="Time stamp")
hourly_data = hourly_data[["Time stamp",  "Date", "device", "energy","Price"]]
hourly_data["Total Cost"] = (hourly_data["energy"] 
                             * hourly_data["Price"])
hourly_data = hourly_data.drop("Price", axis=1)
hourly_data = hourly_data.sort_values("Date")
hourly_data.head()

           Time stamp        Date     device  energy  Total Cost
0    01/01/2020 00:00  01/01/2020  COMP_REF1  0.0000    0.000000
195  01/01/2020 16:00  01/01/2020  COMP_REF9  1.4900    2.474294
194  01/01/2020 16:00  01/01/2020     TUNEL1  0.1372    0.227834
193  01/01/2020 16:00  01/01/2020     TUNEL3  0.2318    0.384927
192  01/01/2020 16:00  01/01/2020  COMP_REF4  0.2772    0.460318

## Daily data

In [58]:
# Energy, Production, Climate and Cost data
daily_data = hourly_data.groupby(by=["Date","device"], as_index=False).sum()
daily_data = pd.merge(daily_data, production_df, 
                      how='left', on='Date')
daily_data = pd.merge(daily_data, climate_df, 
                      how='left', on='Date')
daily_data["Date"] = pd.to_datetime(daily_data["Date"], dayfirst=True,  format="%d/%m/%Y")
daily_data.sort_values(by="Date", inplace=True)
daily_data.reset_index(inplace=True)
daily_data.head()

,index,Date,device,energy,Total Cost,Product_A,Product_B,Temp,UV,PrecMM,Hum,Heat,DP,WChill,FLike
0,24,2019-03-01,COMP_REF1,6162.9256,8663.348872,357800.0,340036.2,20.0,6.0,0.0,33.0,20.0,1.0,20.0,20.0
1,35,2019-03-01,TUNEL3,5078.9900,7288.358004,357800.0,340036.2,20.0,6.0,0.0,33.0,20.0,1.0,20.0,20.0
2,34,2019-03-01,TUNEL2,0.0000,0.000000,357800.0,340036.2,20.0,6.0,0.0,33.0,20.0,1.0,20.0,20.0
3,33,2019-03-01,TUNEL1,0.0000,0.000000,357800.0,340036.2,20.0,6.0,0.0,33.0,20.0,1.0,20.0,20.0
4,32,2019-03-01,COMP_REF9,0.0000,0.000000,357800.0,340036.2,20.0,6.0,0.0,33.0,20.0,1.0,20.0,20.0

# Analysis

## What are the main climate variables that affect the factory production?

In [4]:
# Graficar producto A y B VS Climate

## What are the main climate variables that affect the energy consumption?

In [5]:
# Graficar devices VS climate

## How is it correlated the production and the energy consumption?

In [6]:
# Graficas de scatter, correlación y regresión

## Define the energy consumption curve for each month of the year.

## Define the energy consumption curve for each season of the year.

## For each group of devices, rank them by cost.

## Anual base line for each device.

## Make production recommendations, based on the optimal production.