In [4]:
import pandas as pd
import requests
import json

In [6]:
key = '22bbc46976cc45e8b1104224200104'

In [7]:
latitud = '19.364136'
longitud = '-99.277035'
formato = 'json'
date = '2019-05-01'
end_date = '2019-05-31'
fx24 = "yes"
tp='1'
include_location='yes'
show_comments = 'no'
url="http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key={key}&q={latitud},%{longitud}&format={formato}&date={date}&enddate={end_date}&fx24={fx24}&tp={tp}&includelocation={include_location}&show_comments={show_comments}".format(key=key,latitud=latitud,longitud=longitud,formato=formato,date=date,end_date=end_date,fx24=fx24,tp=tp,include_location=include_location,show_comments=show_comments)
print (url)

http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=22bbc46976cc45e8b1104224200104&q=19.364136,%-99.277035&format=json&date=2019-05-01&enddate=2019-05-31&fx24=yes&tp=1&includelocation=yes&show_comments=no

In [8]:
# Verificar funcionamiento API
response = requests.get(url)
if response.status_code == 200:
    print('Success')
else:
    print('Not Found')

Success

In [10]:
# Response from JSON
data_json = response.json()
data_json
# Obtener datos de ubicación desde JSON
location_json = json_normalize(data=data_json['data'],record_path=['nearest_area'],errors='ignore')
location_json = location_json.astype(dtype= {"latitude":"float","longitude":"float","population":"float"})
print(location_json.dtypes)
data_location = location_json.head(50)
data_location

NameError: name 'json_normalize' is not defined

In [ ]:
hour_json = json_normalize(data=data_json['data'],record_path['weather'],errors='ignore')

# Obtener 'Weather' desde JSON
weather_json = json_normalize(data=data_json['data'],record_path=['weather'],errors='ignore')
data_weather = weather_json
data_weather

In [ ]:
# Obtener 'Astronomy' desde JSON 
weather_astronomy_json = json_normalize(data=data_json['data'],record_path=['weather',['astronomy']],errors='ignore')
data_weather_astronomy = weather_astronomy_json
data_weather_astronomy

In [ ]:

# Obtener 'Hourly' desde JSON
weather_hourly_json = json_normalize(data=data_json['data'],record_path=['weather',['hourly']],errors='ignore')
data_weather_hourly = weather_hourly_json
data_weather_hourly
# DataFrame 'Weather', 'Astronomy', 'Hourly'

In [ ]:

weather = pandas.DataFrame(data_weather)
astronomy = pandas.DataFrame(data_weather_astronomy)
hourly = pandas.DataFrame(data_weather_hourly)
display(hourly)
#display(weather)
# Merge 'Weather' & 'Hourly'

In [ ]:
weather_final = pandas.merge(weather_astronomy,hourly,left_index=True,right_index=True).drop('hourly',axis=1).drop('weatherDesc',axis=1).drop('weatherIconUrl',axis=1).drop('moon_phase',axis=1).drop('weatherCode',axis=1).drop('maxtempF',axis=1).drop('mintempF',axis=1).drop('moon_illumination',axis=1).drop('moonrise',axis=1).drop('moonset',axis=1).drop('DewPointF',axis=1).drop('FeelsLikeF',axis=1).drop('HeatIndexF',axis=1).drop('WindChillF',axis=1).drop('WindGustKmph',axis=1).drop('WindGustMiles',axis=1).drop('tempF',axis=1).drop('visibility',axis=1).drop('winddir16Point',axis=1).drop('windspeedKmph',axis=1).drop('windspeedMiles',axis=1).drop('sunHour',axis=1).drop('totalSnow_cm',axis=1).drop('uvIndex_x',axis=1).drop('sunrise',axis=1).drop('sunset',axis=1).drop('pressure',axis=1).drop('time',axis=1).drop('uvIndex_y',axis=1).drop('winddirDegree',axis=1).drop('maxtempC',axis=1).drop('mintempC',axis=1).drop('HeatIndexC',axis=1).drop('WindChillC',axis=1).drop('cloudcover',axis=1).drop('precipMM',axis=1).drop('avgtempC',axis=1).drop('avgtempF',axis=1).drop('precipInches',axis=1).drop('pressureInches',axis=1).drop('visibilityMiles',axis=1)
weather_final = weather_final.astype(dtype= {"tempC":"int","date":"datetime64","DewPointC":"int","FeelsLikeC":"int","humidity":"int"})
display(weather_final)
print(weather_final.dtypes)
# Request directory to save data

JORGE

In [5]:
#Jorge data revisada lista para analisis
cleanenergy_data = "cleanenergy_data.csv"
cleanenergy_data = pd.read_csv(newenergydata)
cleanenergy_data

,Time stamp,COMP_REF1,COMP_REF13,COMP_REF14,COMP_REF2,COMP_REF4,COMP_REF6,COMP_REF7,COMP_REF8,COMP_REF9,TUNEL1,TUNEL2,TUNEL3
0,01/03/2019 00:00,333.66,0.6813,0.2207,324.49,0.0000,0.0000,249.88,0.00,0.0000,0.0000,0.0000,215.32
1,01/03/2019 01:00,331.95,35.1000,16.4800,322.90,0.0000,0.0000,246.86,0.00,0.0000,0.0000,0.0000,218.42
2,01/03/2019 02:00,325.67,265.5700,97.7800,319.94,0.0000,0.0000,248.48,0.00,0.0000,0.0000,0.0000,222.28
3,01/03/2019 03:00,296.48,266.1100,100.7600,310.74,0.0000,0.0000,221.11,0.00,0.0000,0.0000,0.0000,224.66
4,01/03/2019 04:00,317.73,279.1900,106.0400,313.88,0.0000,0.0000,238.68,0.00,0.0000,0.0000,0.0000,225.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8778,29/02/2020 19:00,0.00,78.4900,71.9900,264.68,0.2863,0.0989,114.32,264.12,0.1239,0.1813,63.7800,191.40
8779,29/02/2020 20:00,0.00,0.1202,0.1418,294.83,0.2925,0.0692,135.52,283.99,1.1400,0.1245,0.3107,196.35
8780,29/02/2020 21:00,0.00,0.1186,0.1392,309.32,0.2926,0.0680,138.34,286.74,1.3400,0.2084,0.2560,197.08
8781,29/02/2020 22:00,0.00,0.1177,0.1395,304.17,0.2950,0.0683,141.19,285.94,1.3400,0.5491,0.2554,197.02
8782,29/02/2020 23:00,0.00,0.1210,0.1368,249.69,0.2901,0.6808,111.56,286.69,1.3500,0.1245,0.2580,197.25

In [12]:
Energydf= cleanenergy_data[["Time stamp","COMP_REF1","COMP_REF2","COMP_REF4","COMP_REF6",
                            "COMP_REF7","COMP_REF8","COMP_REF9","COMP_REF13","COMP_REF14",
                            "TUNEL1","TUNEL2","TUNEL3"]]
Energydf.head()#Test Succesfully Dataframe generated

,Time stamp,COMP_REF1,COMP_REF2,COMP_REF4,COMP_REF6,COMP_REF7,COMP_REF8,COMP_REF9,COMP_REF13,COMP_REF14,TUNEL1,TUNEL2,TUNEL3
0,01/03/2019 00:00,333.66,324.49,0.0,0.0,249.88,0.0,0.0,0.6813,0.2207,0.0,0.0,215.32
1,01/03/2019 01:00,331.95,322.90,0.0,0.0,246.86,0.0,0.0,35.1000,16.4800,0.0,0.0,218.42
2,01/03/2019 02:00,325.67,319.94,0.0,0.0,248.48,0.0,0.0,265.5700,97.7800,0.0,0.0,222.28
3,01/03/2019 03:00,296.48,310.74,0.0,0.0,221.11,0.0,0.0,266.1100,100.7600,0.0,0.0,224.66
4,01/03/2019 04:00,317.73,313.88,0.0,0.0,238.68,0.0,0.0,279.1900,106.0400,0.0,0.0,225.14

In [13]:
Energyanaldf= Energydf[["COMP_REF1","COMP_REF2","COMP_REF4","COMP_REF6",
                            "COMP_REF7","COMP_REF8","COMP_REF9","COMP_REF13","COMP_REF14",
                            "TUNEL1","TUNEL2","TUNEL3"]]
Energyanaldf.head()#Test Succesfully Dataframe generated

,COMP_REF1,COMP_REF2,COMP_REF4,COMP_REF6,COMP_REF7,COMP_REF8,COMP_REF9,COMP_REF13,COMP_REF14,TUNEL1,TUNEL2,TUNEL3
0,333.66,324.49,0.0,0.0,249.88,0.0,0.0,0.6813,0.2207,0.0,0.0,215.32
1,331.95,322.90,0.0,0.0,246.86,0.0,0.0,35.1000,16.4800,0.0,0.0,218.42
2,325.67,319.94,0.0,0.0,248.48,0.0,0.0,265.5700,97.7800,0.0,0.0,222.28
3,296.48,310.74,0.0,0.0,221.11,0.0,0.0,266.1100,100.7600,0.0,0.0,224.66
4,317.73,313.88,0.0,0.0,238.68,0.0,0.0,279.1900,106.0400,0.0,0.0,225.14

In [14]:
Summary_Analysis =Energyanaldf.agg(["sum","mean","median","var","std","sem"])
Summary_Analysis

,COMP_REF1,COMP_REF2,COMP_REF4,COMP_REF6,COMP_REF7,COMP_REF8,COMP_REF9,COMP_REF13,COMP_REF14,TUNEL1,TUNEL2,TUNEL3
sum,1.267975e+06,1.739415e+06,661413.480500,772539.509900,1.351254e+06,1.343418e+06,371223.413700,1.380741e+06,903915.994900,291604.393700,756372.943500,1.198913e+06
mean,1.443669e+02,1.980434e+02,75.306100,87.958501,1.538488e+02,1.529566e+02,42.266129,1.572061e+02,102.916543,33.201001,86.117835,1.365038e+02
median,1.573500e+02,2.933700e+02,102.450000,0.861700,1.484200e+02,1.895600e+02,1.350000,2.432000e+02,101.900000,0.378800,113.690000,1.942900e+02
var,1.956969e+04,1.982118e+04,5678.870922,12386.644764,2.744068e+03,9.548288e+03,4224.479892,1.667445e+04,9594.292688,2591.009590,6357.388014,7.894505e+03
std,1.398917e+02,1.407877e+02,75.358284,111.295304,5.238385e+01,9.771534e+01,64.995999,1.291296e+02,97.950460,50.901961,79.733230,8.885103e+01
sem,1.492693e+00,1.502254e+00,0.804099,1.187560,5.589539e-01,1.042657e+00,0.693530,1.377857e+00,1.045165,0.543142,0.850781,9.480713e-01